In [25]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [26]:
data = pd.read_csv("Mobile phone price.csv")

In [27]:
data.head()

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($),battery_power,talk_time,dual_sim
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999,842,19,0
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199,1021,7,1
2,OnePlus,9 Pro,128 GB,8 GB,6.7,48 + 50 + 8 + 2,4500,899,563,9,1
3,Xiaomi,Redmi Note 10 Pro,128 GB,6 GB,6.67,64 + 8 + 5 + 2,5020,279,615,11,0
4,Google,Pixel 6,128 GB,8 GB,6.4,50 + 12.2,4614,799,1821,15,0

In [28]:
data.describe()

       Battery Capacity (mAh)  battery_power   talk_time    dual_sim
count              407.000000     407.000000  407.000000  407.000000
mean              4676.476658    1246.459459   10.972973    0.533170
std                797.193713     441.175057    5.299573    0.499513
min               1821.000000     503.000000    2.000000    0.000000
25%               4300.000000     836.500000    6.000000    0.000000
50%               5000.000000    1266.000000   11.000000    1.000000
75%               5000.000000    1625.500000   15.000000    1.000000
max               7000.000000    1997.000000   20.000000    1.000000

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    object
 3   RAM                     407 non-null    object
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    object
 6   Battery Capacity (mAh)  407 non-null    int64
 7   Price ($)               407 non-null    object
 8   battery_power           407 non-null    int64
 9   talk_time               407 non-null    int64
 10  dual_sim                407 non-null    int64
dtypes: int64(4), object(7)
memory usage: 35.1+ KB

In [30]:
data.head(3)

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($),battery_power,talk_time,dual_sim
0,Apple,iPhone 13 Pro,128 GB,6 GB,6.1,12 + 12 + 12,3095,999,842,19,0
1,Samsung,Galaxy S21 Ultra,256 GB,12 GB,6.8,108 + 10 + 10 + 12,5000,1199,1021,7,1
2,OnePlus,9 Pro,128 GB,8 GB,6.7,48 + 50 + 8 + 2,4500,899,563,9,1

In [31]:
#Remove GB from storage
data['Storage '] = data['Storage '].str.replace('GB','').astype(int)

In [32]:
print(data['Storage '])

0      128
1      256
2      128
3      128
4      128
      ...
402    128
403    128
404    128
405    128
406    128
Name: Storage , Length: 407, dtype: int32

In [33]:
#remove GB from Ram
data['RAM '] = data['RAM '].str.replace('GB','').astype(int)

In [34]:
print(data['RAM '])

0       6
1      12
2       8
3       6
4       8
       ..
402     8
403     6
404     6
405     8
406     6
Name: RAM , Length: 407, dtype: int32

In [36]:
#Checking if any null values available
data.isnull().sum()

Brand                     0
Model                     0
Storage                   0
RAM                       0
Screen Size (inches)      0
Camera (MP)               0
Battery Capacity (mAh)    0
Price ($)                 0
battery_power             0
talk_time                 0
dual_sim                  0
dtype: int64

In [37]:
data.head(2)

,Brand,Model,Storage,RAM,Screen Size (inches),Camera (MP),Battery Capacity (mAh),Price ($),battery_power,talk_time,dual_sim
0,Apple,iPhone 13 Pro,128,6,6.1,12 + 12 + 12,3095,999,842,19,0
1,Samsung,Galaxy S21 Ultra,256,12,6.8,108 + 10 + 10 + 12,5000,1199,1021,7,1

In [40]:
#Only taking the main camera and removing  the rest
data['Camera (MP)'] = data['Camera (MP)'].apply(lambda x: int(''.join(filter(str.isdigit,x.split('+')[0]))))

In [41]:
data['Camera (MP)']

0       12
1      108
2       48
3       64
4       50
      ...
402     12
403     48
404     12
405     48
406     48
Name: Camera (MP), Length: 407, dtype: int64

In [43]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407 entries, 0 to 406
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Brand                   407 non-null    object
 1   Model                   407 non-null    object
 2   Storage                 407 non-null    int32
 3   RAM                     407 non-null    int32
 4   Screen Size (inches)    407 non-null    object
 5   Camera (MP)             407 non-null    int64
 6   Battery Capacity (mAh)  407 non-null    int64
 7   Price ($)               407 non-null    object
 8   battery_power           407 non-null    int64
 9   talk_time               407 non-null    int64
 10  dual_sim                407 non-null    int64
dtypes: int32(2), int64(5), object(4)
memory usage: 31.9+ KB

In [ ]:
data['Screen Size (inches)'] = data['Screen Size (inches)'].apply(lambda x: int(''.join(filter(str.isdigit,x.split('+')[0]))))